/*  ==========================================================================
    General Styling
    ========================================================================== */


/*  Editable CSS
    ========================================================================== */

body {
    /* Edit Website Font Color */
    color: #333132;
    /* Edit Website Font Family - NOTE: Remove Previous Google Font Link in HTML */
    font-family: 'Montserrat', sans-serif;
    /* 
            Edit Website Background Image
            Remove Comment and Replace Background Image With CDN Link From the CP
        
        background-image: url('https://d3mqmy22owj503.cloudfront.net/69/500469/images/site_graphics/site-bg.jpg');
        background-attachment: fixed;
        background-size: cover;
        */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*
            Edit Headers Font Family
            NOTE: inherit will inherit the above font;
        */
    font-family: inherit;
}

h1 {
    /* Header H1 Font Color */
    color: #30517f;
}

h2 {
    color: #585858;
    font-size: 1.555555em;
    font-weight: 300;
}

a {
    /* Edit Website Link Font Color */
    color: #30517f;
}

a:hover,
a:focus {
    /* Edit Website Link Font Hover Color */
    color: #30517f;
}

.btn {
    /* Edit Button Background Color */
    background-color: rgb(111, 111, 111);
    /* Edit Button Border Radius */
    border-radius: 0;
    /* Edit Button Font Color */
    color: #fff;
}

.btn:hover {
    /* Edit Button Hover Background Color */
    background-color: rgba(77, 77, 77, 1.00);
    /* Edit Button Hover Font Color */
    color: #fff;
}


/*  Core CSS
        ========================================================================== */

html {
    /*
            Be careful with editing the global font size
            set below, with Bootstrap 4, many elements rely
            on having this font size be 16px. This can change
            padding, margin, width, height, etc. Please
            consider setting the font-size on the body, rather than here
         */
    font-size: 16px;
}

body {
    /*
            Be careful with editing the global line-height and font-size
            set below, it can vastly change the look & spacing
            of a site - change with caution
         */
    line-height: 1.6;
    font-weight: 300;
    font-size: 1.125rem;
}

p,
td,
li,
label {
    font-weight: inherit;
}

a {
    -webkit-transition: .3s color, background;
    transition: .3s color, background;
}

.btn {
    cursor: pointer;
    border: none;
    outline: none;
}

.btn:hover {
    border: none;
    outline: none;
}


/*  ==========================================================================
        Content
        ========================================================================== */


/*  Editable CSS
        ========================================================================== */

.content {
    /* Edit Page Content Background Image - Replace the 'transparent' with your color/image */
    background: transparent;
}

.home .content {
    /* Edit Home Page Content Background Image - Replace the 'transparent' with your color/image */
    background: transparent;
}


/*  Core CSS
        ========================================================================== */

.content {
    background-attachment: fixed;
    background-size: cover;
}


/*  ==========================================================================
        Header/Menu
        ========================================================================== */


/*  Editable CSS
        ========================================================================== */

.menu {
    /* Edit Menu Background Color */
    background-color: rgba(0, 50, 96, .8);
}

.stuck .menu {
    /* Edit 'Stuck' Menu Background Color */
    background-color: rgba(0, 50, 96, .8);
}

#nav>li>ul {
    /* Edit Menu Dropdown Background Color */
    background-color: rgb(0, 50, 96);
}

.stuck #nav>li>ul {
    /* Edit 'Stuck' Menu Dropdown Background Color */
    background-color: rgb(0, 50, 96);
}

#nav {
    /* Edit Mobile Menu Font Color */
    color: #fff;
    /* Edit Menu Mobile  Text Transform */
    text-transform: uppercase;
    /* Edit Mobile Menu Font Size */
    font-size: 14px;
    /* Edit Mobile Menu Font Weight */
    font-weight: 400;
}

#nav a {
    /* Edit Padding Between Menu Links - Change Both Left & Right Padding */
    padding-left: 10px;
    padding-right: 10px;
}

.header-logo {
    /* Edit Mobile Menu Height - Also Make Sure to Edit the Values for All Other "Edit Mobile Menu Heights" */
    max-height: 60px;
}

.stuck .header-logo {
    /* Edit Mobile Menu Height - Also Make Sure to Edit the Values for All Other 'Edit Mobile Menu Heights' */
    max-height: 60px;
}

.lines-button {
    /* Edit Mobile Menu Toggle Button Size */
    font-size: 10px;
}

.lines-button .lines,
.lines-button .lines:before,
.lines-button .lines:after {
    /* Edit Mobile Menu Toggle Button Color */
    background-color: #fff;
}

.info-bar {
    /* Edit Desktop Info Bar Background Color */
    background-color: #fff;
}

.stuck .info-bar {
    /* Edit 'Stuck' Info Bar Background Color */
    background-color: #fff;
}

.info-bar .phone-number {
    /* Edit Info Bar Phone Number Font Size */
    font-size: 1.25em;
}

@media (min-width: 992px) {
    #nav {
        /* Edit Desktop Menu Font Color */
        color: #fff;
        /* Edit Desktop Menu Text Transform */
        text-transform: uppercase;
        /* Edit Desktop Menu Font Size */
        font-size: 14px;
        /* Edit Desktop Menu Font Weight */
        font-weight: 400;
    }
    .stuck #nav {
        /* Edit  Desktop 'Stuck' Menu Font Color */
        color: #fff;
        /* Edit  Desktop 'Stuck' Menu Font Size */
        font-size: 14px;
        /* Edit  Desktop 'Stuck' Menu Font Weight */
        font-weight: 400;
    }
    #nav>li>a {
        /* Edit Desktop Menu Height - Also Make Sure to Edit the Values for All Other "Edit Desktop Menu Heights" */
        line-height: 60px;
    }
    .header-logo {
        /* Edit Desktop Menu Height - Also Make Sure to Edit the Values for All Other "Edit Desktop Menu Heights" */
        max-height: 120px;
    }
    .stuck #nav>li>a {
        /* Edit 'Stuck' Desktop Menu Height - Also Make Sure to Edit the Values for All Other "Edit 'Stuck' Desktop Menu Height" */
        line-height: 60px;
    }
    .stuck .header-logo {
        /* Edit Desktop Menu Height - Also Make Sure to Edit the Values for All Other 'Edit Desktop Menu Heights' */
        max-height: 120px;
    }
    #nav li li a {
        /* Edit Desktop Menu Dropdown Border */
        border-top: 1px solid #B2B3B4;
    }
    #nav li li a:hover {
        /* Edit Desktop Menu Dropdown Hover Background Color */
        background-color: #30517f;
        /* Edit Desktop Menu Dropdown Hover Font Color */
        color: #fff;
    }
    #nav.nav-divided>li>a:after {
        /* 
                Edit Desktop Menu Divider Background Color 
                NOTE: Be Sure to Add the 'nav-divided' class to the scripts.js in the 'menuClassList' variable
            */
        background-color: #B2B3B4;
    }
}


/*  Core CSS
        ========================================================================== */

#nav {
    opacity: 0;
    -webkit-transition: .3s opacity ease-in;
    transition: .3s opacity ease-in;
}

#nav.menu-loaded {
    opacity: 1;
}

.header-logo {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    -webkit-transition: .3s max-height;
    transition: .3s max-height;
}

.menu {
    -webkit-transition: .3s background;
    transition: .3s background;
}

.navbar {
    padding: 0;
}

#nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    -webkit-transition: .3s all;
    transition: .3s all;
}

#nav>li {
    position: relative;
}

#nav>li>ul {
    max-height: 0;
    list-style: none;
    -webkit-transition: .5s all;
    transition: .5s all;
    overflow: hidden;
    padding-left: 30px;
}

#nav>li>ul.open {
    max-height: 999px;
}

#nav .dropdown-arrow {
    position: absolute;
    right: 0;
    top: 12px;
    -webkit-transition: .3s all;
    transition: .3s all;
    width: 50px;
    height: 32px;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
    color: #fff;
}

.lines-button {
    display: inline-block;
    padding: 1.75em 0.875em;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0.5em;
}

.lines-button:hover,
.lines-button:focus {
    opacity: 1;
    outline: none;
}

.lines-button:active {
    -webkit-transition: 0;
    transition: 0;
}

.lines {
    display: inline-block;
    width: 3.5em;
    height: 0.5em;
    background: #333;
    border-radius: 0.25em;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
}

.lines:before,
.lines:after {
    display: inline-block;
    width: 3.5em;
    height: 0.5em;
    background: #333;
    border-radius: 0.25em;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 0.25em center;
    transform-origin: 0.25em center;
}

.lines:before {
    top: 0.875em;
}

.lines:after {
    top: -0.875em;
}

.lines-button.toggle-close .lines:before,
.lines-button.toggle-close .lines:after {
    -webkit-transform: none;
    transform: none;
    width: 3.5em;
    top: 0;
}

.lines-button .lines {
    -webkit-transition: background .3s .6s ease;
    transition: background .3s .6s ease;
}

.lines-button .lines:before,
.lines-button .lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: top .3s .6s ease, -webkit-transform .3s ease;
    transition: top .3s .6s ease, -webkit-transform .3s ease;
    transition: top .3s .6s ease, transform .3s ease;
    transition: top .3s .6s ease, transform .3s ease, -webkit-transform .3s ease;
}

.lines-button.toggle-close .lines {
    -webkit-transition: background .3s 0s ease;
    transition: background .3s 0s ease;
    background: transparent;
}

.lines-button.toggle-close .lines:before,
.lines-button.toggle-close .lines:after {
    -webkit-transition: top .3s ease, -webkit-transform .3s .5s ease;
    transition: top .3s ease, -webkit-transform .3s .5s ease;
    transition: top .3s ease, transform .3s .5s ease;
    transition: top .3s ease, transform .3s .5s ease, -webkit-transform .3s .5s ease;
    top: 0;
    width: 3.5em;
}

.lines-button.toggle-close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.lines-button.toggle-close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

@media (max-width: 991px) and (min-width: 480px) {
    #nav {
        width: 320px;
    }
}

@media (max-width: 991px) {
    #nav li a {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 35px;
        color: #fff;
        background-color: rgb(0, 50, 96);
        border-top: 1px solid #eee;
    }
}

@media (min-width: 992px) {
    #nav li li a {
        /* Edit Desktop Menu Dropdown Link Padding */
        padding: 15px;
    }
    #nav li li:first-child a {
        border-top: none;
    }
    #nav>li>ul,
    #nav>li>ul.open {
        opacity: 0;
        max-height: 0;
        -webkit-transition: .3s all;
        transition: .3s all;
        position: absolute;
        top: 100%;
        left: 0;
        padding-left: 0;
        z-index: 99;
        /* Edit Desktop Menu Dropdown Width */
        width: 320px;
    }
    #nav>li:last-child>ul,
    #nav>li:last-child>ul.open {
        left: auto;
        right: 0;
    }
    #nav>li:hover>ul {
        max-height: 999px;
        opacity: 1;
    }
    #nav .dropdown-arrow {
        display: none;
    }
    #nav.nav-divided>li>a {
        position: relative;
    }
    #nav.nav-divided>li>a:after {
        content: "";
        display: block;
        height: 1em;
        width: 1px;
        top: 50%;
        left: 100%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
    }
    #nav.nav-divided>li:last-child>a:after {
        display: none;
    }
}

@media (min-width: 576px) {
    .menu-sm .navbar-toggler {
        display: none;
    }
}

@media (min-width: 768px) {
    .menu-md .navbar-toggler {
        display: none;
    }
}

@media (min-width: 992px) {
    .menu-lg .navbar-toggler {
        display: none;
    }
}

@media (min-width: 1200px) {
    .menu-xl .navbar-toggler {
        display: none;
    }
}


/*  ==========================================================================
        Offcanvas
        ========================================================================== */

.offcanvas-mask {
    opacity: 0;
    background-color: #0b0b0b;
    -webkit-transition: .3s opacity;
    transition: .3s opacity;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

html {
    min-height: 100%;
    height: auto;
}

body {
    height: 100%;
}

@media (max-width: 575px) {
    .offcanvas-wrapper-xs.offcanvas-active .offcanvas-mask {
        opacity: .6;
    }
    .offcanvas-wrapper-xs.offcanvas-active {
        overflow: hidden;
    }
    .offcanvas-xs {
        z-index: 9999;
        position: fixed;
        top: 0;
        left: -175%;
        height: 100%;
        -webkit-transition: .4s left;
        transition: .4s left;
        background-color: #fff;
    }
    .offcanvas-active .offcanvas-xs {
        left: 0;
    }
}

@media (max-width: 767px) {
    .offcanvas-wrapper-sm.offcanvas-active .offcanvas-mask {
        opacity: .6;
        z-index: 1030;
    }
    .offcanvas-wrapper-sm.offcanvas-active {
        overflow: hidden;
    }
    .offcanvas-sm {
        z-index: 9999;
        position: fixed;
        top: 0;
        left: -175%;
        height: 100%;
        -webkit-transition: .4s left;
        transition: .4s left;
        background-color: #fff;
    }
    .offcanvas-active .offcanvas-sm {
        left: 0;
    }
}

@media (max-width: 991px) {
    .offcanvas-wrapper-md.offcanvas-active .offcanvas-mask {
        opacity: .6;
    }
    .offcanvas-wrapper-md.offcanvas-active {
        overflow: hidden;
    }
    .offcanvas-md {
        z-index: 9999;
        position: fixed;
        top: 0;
        left: -175%;
        height: 100%;
        -webkit-transition: .4s left;
        transition: .4s left;
        background-color: #333132;
        overflow-y: scroll;
    }
    .offcanvas-active .offcanvas-md {
        left: 0;
    }
}

@media (max-width: 1199px) {
    .offcanvas-wrapper-lg.offcanvas-active .offcanvas-mask {
        opacity: .6;
    }
    .offcanvas-wrapper-lg.offcanvas-active {
        overflow: hidden;
    }
    .offcanvas-lg {
        z-index: 9999;
        position: fixed;
        top: 0;
        left: -175%;
        height: 100%;
        -webkit-transition: .4s left;
        transition: .4s left;
        background-color: #fff;
    }
    .offcanvas-active .offcanvas-lg {
        left: 0;
    }
}

.offcanvas-wrapper-xl.offcanvas-active .offcanvas-mask {
    opacity: .6;
}

.offcanvas-wrapper-xl.offcanvas-active {
    overflow: hidden;
}

.offcanvas-xl {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: -175%;
    height: 100%;
    -webkit-transition: .4s left;
    transition: .4s left;
    background-color: #fff;
}

.offcanvas-active .offcanvas-xl {
    left: 0;
}


/*  ==========================================================================
        Quicksearch
        ========================================================================== */


/*  Editable CSS
        ========================================================================== */

.quicksearch {
    /* Edit Quicksearch Font Size */
    font-size: 20px;
    /* Edit Quicksearch Full Width Background - Change to Transparent if Not Using a Full Width Background */
    background-color: rgba(48, 81, 127, 0.3);
    color: #d49d02;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9998;
    transform: translateX(-50%) translateY(-50%);
    max-width: 1140px;
    width: calc(100vw - 60px);
}

.tparrows.hesperiden {
    display: none;
}

.quicksearch-section .container {
    /* Edit Quicksearch Inner Background - Change from Transparent if Not Using a Full Width Background and change the Full Width Background to Transparent */
    background-color: transparent;
}

.quicksearch .quicksearch-search-bar {
    /* Edit Quicksearch Search Bar Size */
    padding: 20px;
}

.quicksearch .input-group-btn .quicksearch-search-button {
    /* Edit Quicksearch Search Button Size */
    font-size: 30px;
}

.quicksearch-tab.active {
    /* Edit Quicksearch Active Tab Font Weight */
    font-weight: bold;
}

@media (min-width: 576px) {
    .quicksearch {
        width: calc(100vw - 180px);
    }
    .tparrows.hesperiden {
        display: block;
    }
}

@media (min-width: 992px) {
    .quicksearch-tabs,
    .quicksearch-tab {
        /* Edit Quicksearch Tab Border */
        border: 1px solid #fff;
    }
}


/*  Core CSS
        ========================================================================== */

.quicksearch a {
    text-decoration: none;
}

.quicksearch-tab {
    border-top: none;
    border-bottom: none;
    cursor: pointer;
}

.quicksearch-tabs {
    border-top: none;
    border-left: none;
    border-right: none;
}

@media (min-width: 992px) {
    .quicksearch-tab:first-child {
        border-left: none;
    }
    .quicksearch-tab:last-child {
        border-right: none;
    }
}


/*  ==========================================================================
        Featured Listings
        ========================================================================== */


/*  Core CSS
        ========================================================================== */

.featured-listings-template {
    display: none;
}

.featured-listings-slide {
    position: relative;
}

.featured-listings-slide:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.featured-listings-img {
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0;
    position: absolute;
}

.featured-listings-info {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    width: 100%;
    text-align: center;
}

.featured-listings-url {
    background: transparent;
    color: #fff;
    border: 1px solid;
    display: block;
}

.featured-listings-url:hover {
    background: #fff;
    color: #000;
    border: 1px solid;
}

.featured-listings .lSGallery {
    margin-top: 1px !important;
}

.featured-listings .lSGallery li {
    position: relative;
}

.featured-listings .lSGallery li:before {
    content: "";
    display: block;
    padding-top: 75%;
}

.featured-listings .lSGallery li img {
    right: 0;
    width: 100%;
    height: 100% !important;
    bottom: 0;
    left: 0;
    top: 0;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0;
    position: absolute;
}

@media (min-width: 768px) {
    .featured-listings-slide:before {
        padding-top: 50%;
    }
    .featured-listings-info {
        bottom: auto;
        top: 0;
        width: auto;
    }
    .featured-listings-url {
        display: inline-block;
    }
}


/*  ==========================================================================
        Social Media
        ========================================================================== */


/*  Editable CSS
        ========================================================================== */

.social-media {
    /* Edit Social Media Size - Controlled by Font Size */
    font-size: 1.25rem;
}

.social-media a {
    /*
            Edit Social Media Icon Color
            Leave the value as 'inherit'
            if You Want the Icon Color to
            be the same as the parent font color
         */
    color: #353535;
}

.social-media a:hover,
.social-media a:focus {
    /* Edit Social Media Icon Hover Color */
    color: #B2B3B4;
}

.social-media li {
    /* Edit Social Media Icon Background Colors - Change From Transparent to Enable Them */
    background-color: transparent;
}

.social-media li:hover {
    /* Edit Social Media Icon Hover Background Colors - Change From Transparent to Enable Them */
    background-color: transparent;
}


/*  Core CSS
        ========================================================================== */

.social-media {
    display: inline-block;
}

.social-media ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.social-media li {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    -webkit-transition: .3s all;
    transition: .3s all;
    -webkit-transform-origin: center;
    transform-origin: center;
    margin-left: .5em;
}

.social-media li:last-child {
    margin-left: 0;
}

.social-media li:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.social-media-circle li {
    border-radius: 50%;
}

.social-media span {
    display: none;
}


/*
        Remove Comments if You Want the Social Icons to Have Brand Appropriate Background Colors
    
    .social-media li {
        background-color: #333;
    }
    
    .social-media .facebook {
        background-color: #39589B;
    }
    
    .social-media .twitter {
        background-color: #3ACBF8;
    }
    
    .social-media .pinterest {
        background-color: #D4382B;
    }
    
    .social-media .google-plus {
        background-color: #D43E26;
    }
    
    .social-media .linkedin {
        background-color: #0073B9;
    }
    
    .social-media .youtube {
        background-color: #D23226;
    }
    
    .social-media .instagram {
        background: -webkit-radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), -webkit-linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
      background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    }
    */

@media (min-width: 992px) {
    .social-media-wrapper {
        position: absolute;
        right: 0;
        top: 20%;
        text-align: center;
    }
}


/*  ==========================================================================
        Hero
        ========================================================================== */


/*  Editable CSS
        ========================================================================== */

.hero-slider {
    /* Edit Hero Slider Height */
    max-height: 720px;
}

.hero-static:before {
    /* 
            Edit Hero Static Height 
            This is the height of the image, divided by the width, e.g: 720 / 1920 = .375 or 37.5%;
        */
    padding-top: 37.5%;
}


/*  Core CSS
        ========================================================================== */

.hero-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 720px;
}

.hero-slider ul>li>img,
.hero-slider .tp-caption {
    visibility: hidden;
}

.hero-slider .fullwidthabanner {
    display: none;
}

.forcefullwidth_wrapper_tp_banner {
    margin-top: 0 !important;
}

.hero-static {
    position: relative;
}

.hero-static:before {
    display: block;
    content: "";
    min-height: 360px;
}

.hero-static .hero-image {
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0;
    position: absolute;
}

@media (min-width: 768px) {
    .hero-static:before {
        min-height: 540px;
    }
}


/*  ==========================================================================
        Footer
        ========================================================================== */


/*  Editable CSS
        ========================================================================== */

footer {
    /* Edit Footer Font Color */
    color: #fff;
    /* Edit Footer Background Color */
    background-color: rgb(0, 50, 96);
}

footer a {
    /*
            Edit Footer Link Font Color
            Leave the value as 'inherit'
            if You Want the Link Color to
            be the same as the Footer font color
         */
    color: #fff;
}

footer a:hover,
footer a:focus {
    /*
            Edit Footer Link Font Hover Color
            Leave the value as 'inherit'
            if You Want the Link Color to
            be the same as the Footer font color
         */
    color: #CACACA;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
    color: inherit;
}

.copyright {
    /* Edit Copyright Background Color */
    background-color: #3B3B3B;
    /* Edit Copyright Font Color */
    color: rgba(255, 255, 255, .5);
    /* Edit Copyright Font Size */
    font-size: 14px;
}

.copyright a {
    /*
            Edit Copyright Link Font Color
            Leave the value as 'inherit'
            if You Want the Link Color to
            be the same as the Copyright font color
         */
    color: inherit;
}

.copyright a:hover,
.copyright a:focus {
    /* Edit Copyright Link Font Hover Color */
    color: #333132;
}

.copyright .cp-login {
    /* Edit CP Login Lock Color */
    color: #14adbd;
}


/*  Core CSS
        ========================================================================== */

.footer-section .footer-icon {
    font-size: 2.25em;
    width: 2em;
    height: 2em;
    border: 5px solid;
    border-radius: 50%;
    position: relative;
    color: #fff;
}

.footer-section .footer-icon:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}


/*  ==========================================================================
        Custom CSS
        ========================================================================== */

#button {
    background: rgba(248, 80, 50, 1);
    background: -moz-linear-gradient(top, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 50%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248, 80, 50, 1)), color-stop(50%, rgba(241, 111, 92, 1)), color-stop(51%, rgba(246, 41, 12, 1)), color-stop(71%, rgba(240, 47, 23, 1)), color-stop(100%, rgba(231, 56, 39, 1)));
    background: -webkit-linear-gradient(top, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 50%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%);
    background: -o-linear-gradient(top, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 50%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%);
    background: -ms-linear-gradient(top, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 50%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%);
    background: linear-gradient(to bottom, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 50%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr=&#039;
    #f85032&#039;
    , endColorstr=&#039;
    #e73827&#039;
    , GradientType=0);
    -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.75);
}

.qs-btn {
    font-size: 18px;
}

footer h5 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

<div class="container" data-snippet-id="9" data-snippet-version="1" data-unique-snippet-id="jkofreg0" style="background-color: rgb(255, 255, 255);"><style class="inline-snippet-css">#jkofreg0 {
    color: #fff;
}

#jkofreg0 {
    position: relative;
}

#jkofreg0>.container .row {
    background-size: cover;
    position: relative;
}

#jkofreg0>.container .row>a {
    display: block;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    border: 10px solid #fff;
    letter-spacing: 2px;
}

#jkofreg0 .callout-1-img-wrapper:before {
    padding-top: 10%;
    content: " ";
    display: block;
}

#jkofreg0 .callout-1-img-wrapper img {
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
    margin: 0;
    filter: saturate(0.8);
}

#jkofreg0 .callout-1-bg {
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
    margin: 0;
}

#jkofreg0 .callout-1-hover-mask {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    z-index: -2;
    transition: .3s opacity;
    position: absolute;
    margin: auto;
}

#jkofreg0 .callout-1-hover {
    text-shadow: 1px 1px 4px #1f1f1f;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    position: absolute;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 1650px) {
    #jkofreg0 .callout-1-hover {
        font-size: 22px;
    }
}

@media (max-width: 1100px) {
    #jkofreg0 .callout-1-hover {
        font-size: 18px;
    }
}

@media (max-width: 610px) {
    #jkofreg0 .callout-1-hover {
        font-size: 18px;
    }
}

@media (max-width: 425px) {
    #jkofreg0 .callout-1-hover {
        font-size: 18px;
    }
}

#jkofreg0>.container .row>a:hover .callout-1-hover-mask {
    opacity: 1;
    z-index: 1;
}

#jkofreg0>.container .row>a:hover .callout-1-hover {
    opacity: 1;
    z-index: 1;
}

#jkofreg0 .callout-1-hover:before {
    height: 10px;
    content: " ";
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
}

#jkofreg0 .callout-1-hover:after {
    height: 10px;
    content: " ";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
}