.cvdo-fl-grid-1-img-wrapper {
    position: relative;
    overflow: hidden;
}

.cvdo-fl-grid-1-img-wrapper:before {
    display: block;
    content: "";
    padding-top: 75%;
}

.cvdo-fl-grid-1-img {
    position: absolute;
    right: 0;
    width: calc(100% - 30px);
    height: 100%;
    bottom: 0;
    left: 15px;
    top: 0;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0;
}

.cvdo-fl-grid-1-price {
    position: absolute;
    bottom: 0;
    left: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    background-color: rgba(232, 141, 34, .8);
    padding: 5px;
}

.cvdo-fl-grid-1-info {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    border: 1px solid #cdcdcd;
    width: 100%;
    text-overflow: clip;
    white-space: nowrap;
    margin-left: 0;
}

.cvdo-fl-grid-1-info > [class*="col"] {
    border-bottom: 1px solid #cdcdcd;
    overflow: hidden;
}
 
.cvdo-fl-grid-1-info > [class*="col"]:nth-last-child(-n+2) {
    border-bottom: none;
}

[data-fl-type="Grid1"] a,
[data-fl-type="Grid1"] a:hover,
[data-fl-type="Grid1"] a:focus {
    text-decoration: none;
}