<div id="loancal" class="p-4 mb-4">
    <div class="card-top">
        <a href="#" class="close-menu float-end me-2 text-center mt-3 icon-40 notch-clear"><i class="fa fa-times bg-red-dark p-2 rounded-circle color-white"></i></a>
    </div>
    <h1 class="menu-title">Loan Calculator</h1>
    <div class="divider"></div>
    <div class="pb-0 bg-white border border-2 border-highlight w-100 card" data-card-height="35">
        <h2 id="payment" class=" w-100 color-dark-light"></h2>
    </div>
    <div class="d-flex flex-column">
        <p class="mb-1 color-highlight form-lable">Loan Amount: $</p><input class="font-18 pb-2 form-control form-control-lg form-field" placeholder="$" id="amount" type="number" min="1" max="5000000" onchange="computeLoan()">
    </div>

    <div class="d-flex flex-column">
        <p class="mb-1 color-highlight">Interest Rate: %</p><input class="font-18 pb-2 form-field form-control form-control-lg " id="interest_rate" min="0" max="100" value="10" step=".1" placeholder="%" onchange="computeLoan()">
    </div>

    <div class="d-flex flex-column">
    <p class=" mb-1 color-highlight" >Months to Pay: </p><input class="font-18 pb-2 form-field  form-control form-control-lg " id="months" type="number" min="1" placeholder="Months?" max="300" value="1" step="1" onchange="computeLoan()"></p>
    </div>


    <button onclick="computeLoan()" class="btn-lg bg-highlight btn-full w-100">Caclulate</button>
</div>