
    <div class="menu-title">
        <p class="color-highlight">Just tap to</p>
        <h1>Give Us A Call</h1>
        <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
    </div>
    <div class="content">
        <a href="sms:2082636802" class="default-link btn btn-xl font-14 shadow-l btn-full rounded-s font-600 bg-highlight mb-2">208-263-6802</a>
    </div>
